@import "./constants.css";

.preview section {
  position: sticky;
  top:10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  row-gap: 10px;
}

.preview h2 {
  color: var(--detail-color);
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.cv {
  border: 1px solid black;
  width: 600px;
  height: auto;
  aspect-ratio: 210 / 297;
  justify-self: center;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: start;

  font-family: var(--sans-serif-font);
  --light-color: #666666;
}


.cv h3 {
  font-size: 3em;
  color: var(--accent-color);
  font-weight: bold;
  margin: 0.66em 0em 0em 0.66em;
}

.cv>p {
  font-size: 1.5em;
  color: var(--light-color);
  margin-left: 1.33em;
}

.cv .contact {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content max-content;
  column-gap: 2em;

  color: var(--light-color);
  margin-left: 2em;
  margin-top: 1em;
  
}

.cv .contact p + p::before {
  content: "|";
  color: var(--light-color);
  position: relative;
  left: -1em;
}

.cv div {
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.cv h4 {
  color: var(--accent-color);
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.6em;
}

.cv ul {
  display: grid;
  row-gap: 1em;
}

.cv .experience li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1em;

  grid-template-areas: 
  "year title"
  "location company"
  "location description";
}

.cv .experience .title {
  grid-area: title;
  font-weight: bold;
}

.cv .experience .company {
  grid-area: company;
  font-weight: bold;
}

.cv .experience .year {
  grid-area: year;
  font-weight: bold;
}

.cv .experience .location {
  grid-area: location;
}

.cv .experience .description {
  grid-area: description;
}

.cv .education li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1em;

  grid-template-areas: 
  "year degree"
  "year school"
  "year location";
}

.cv .education .degree {
  grid-area: degree;
  font-weight: bold;
} 

.cv .education .school {
  grid-area: school;
} 

.cv .education .year {
  grid-area: year;
  font-weight: bold;
}

.cv .education .location {
  grid-area: location;
}

@media screen and (max-width:1200px) {
  .preview .cv {
    height: auto;
    width: 450px;
    font-size: 9px;
  }
}